
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CRM.Models.UserViewModel
<script src="http://fancraftmagic.com/sms/js/jquery.dataTables.min.js"></script>
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Contact</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">Contact</li>
        </ol>
    </div>

</div>
<div class="row">
    <div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modal Content is Responsive</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Recipient:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Message:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light">Save changes</button>
                </div>
            </div>
        </div>
    </div> 
</div>
<div class="clearfix"></div>
<div class="row">
    @if (!string.IsNullOrEmpty(Model.Error))
    {
        <div class="col-md-12  ">
            <div class="alert alert-success alert-rounded">
                @Model.Error
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
            </div>

        </div>
        <div class="clearfix"></div>
    }
    <div class="col-sm-12">
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
            <h3 class="text-info"><i class="fa fa-exclamation-circle"></i> Information</h3> To edit a Label , click on Label in Label list .<a href="@Url.Action("labels","Contact")"><i class="fa fa-tags"></i>Click here to Add new Label. </a><br />
            To edit contact on click on pencil icon in contact list , To Add New Click Add New Contact button OR <a href="@Url.Action("getContact","Contact")"><i class="fa fa-user"></i>Click here </a>
</div>
    </div><div class="clearfix"></div>
    <div class="col-md-2 p-0">
        <div class="card">
            <div class="card-body">
                <span class="pull-left fw-700 ft-13">All Contacts</span><span class="pull-right ft-13 fw-700">@Model.totalContacts</span>
                <div class="clearfix">
                </div>
                @foreach (var item in Model.labels)
                { <span data-id="@item.LabelId" onclick="EditLabel('@item.LabelId')" class="pull-left ft-13 p-t-10">@item.Name</span><span class="pull-right ft-13 p-t-10">@item.Totalcontacts</span>
                <div class="clearfix">
                </div>
                }
                <a class="btn f-13 btn-info white-colorbtn modal-link" href="#" data-toggle="modal" data-target="#responsive-modal"><i class="fa fa-plus"></i>Add New Label</a>
            </div>
        </div>
    </div>
    <div class="col-md-10 p-0em">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Contacts / Employee list
                </h4>
                <h6 class="card-subtitle"></h6>
                <div class="table-responsive">
                    <table id="example23" class="nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Role</th>
                                <th>Age</th>
                                <th>Joining Date</th>
                                <th>Salary</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>

                    </table>
                    <div class="clearfix"></div>
                    <a class="btn btn-info btn-rounded" href="@Url.Action("getContact","Contact")"><i class="fa fa-plus text-white"></i>Add New Contact</a>

                </div>
            </div>
        </div>
    </div>

</div>
<script>
    function EditLabel(id) {
        var _url = "@Url.Action("labels","contact")" + "?id=" + id;
        location.href = _url;
    }
    var otable;

    otable=  $('#example23').DataTable({
        "processing": true,
        "serverSide": true,
        "oLanguage": {
            "sProcessing": "<img src='/assets/images/users/loading.gif'>"
        },
        "iDisplayLength": 10,
        "order": [],
        "bSort": true,
        "sAjaxSource": '@Url.Action("Fetchcontacts", "Contact")',
        "aoColumns": [
             {
                 mData: "Name",
                 mRender: function (data, type, full) { 
                      if (full.ImagePath == null) {
                         return '<img src="/assets/images/icon/staff.png"></><span class="p-l-10">' + data + '</span>';
                     } else {
                          return '<img style="width: 40px;border-radius: 22px;" src="' + full.ImagePath + '"></><span class="p-l-10">' + data + '</span>';
                     }
                 }
             },
             { mData: "email" },
             { mData: "phone" },
             { mData: "Role" },
             { mData: "Age" },
             { mData: "Joiningdate",
                         mRender: function (value) {
                             if (value === null) return "";
                             var pattern = /Date\(([^)]+)\)/;
                             var results = pattern.exec(value);
                             var dt = new Date(parseFloat(results[1]));
                             return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
                         }
                     },
             { mData: "salary" },
             {
                 mData: "Action",
                 bSortable: false,
                 mRender: function (data, type, full) { return '<a data-id="' + full.ContactId + '" class="editor_edit" ><i class="ui-tooltip fa fa-pencil" style="font-size: 22px;" data-original-title="Edit"></i></a><a name="deleteColumn" data-id="' + full.ContactId + '" class="editor_remove"><i class="ui-tooltip fa fa-trash-o" style="font-size: 22px;" data-original-title="Delete"></i></a>'; }
             }
        ] 
    });
    
    $('#example23').on('click', 'a.editor_remove', function (e) {
        e.preventDefault();
        var d = $(this).data('id');
        var r = confirm("are you sure to delete ?");
        if (r == true) {
            var _url = "@Url.Action("deleteContact", "contact")";
            $.post(_url, { 'id': d }, function () {
                otable.row($(this).parents('tr')).remove().draw(false);
            });
        } 
    });
    $('#example23').on('click', 'a.editor_edit', function (e) {
        e.preventDefault();
        var d = $(this).data('id'); 
        var _url = "@Url.Action("getContact", "contact")" + "?id=" + d;
        location.href = _url; 
    });
</script>
